body {
  margin: 0;
  padding: 0;
  background-color: #eaedf3;
}

.container {
  width: 90%;
  height: fit-content;
  margin: 20px auto 20px auto;
  padding: 0;
  background-color: #29438c;
  border-radius: 20px;
  overflow: hidden;
}

.input-box {
  width: 50%;
  height: fit-content;
  float: left;
  margin: 0;
  padding: 0;
  background: none;
}

.field-img {
  width: 50%;
  height: fit-content;
  float: left;
  margin: auto 0;
  padding: 0;
  background: none;
}

.field-img img {
  width: 100%;
  height: auto;
  background-repeat: none;
  background-position: center;
}

.warning {
  color: white;
  font-size: 20px;
  text-align: center;
}

form {
  float: unset;
  width: 90%;
  height: fit-content;
  background: none;
  margin: 10px auto 10px auto;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 20px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  resize: none;
}

.textbox {
  width: 80%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 20px;
  border-bottom: 2px solid black;
  resize: none;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 100%;
  float: left;
  margin: 5px;
}

.button {
  width: 50%;
  background: none;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  margin: 0 25% 20px 25%;
  outline: none;
}
.button:hover {
  color: #82d9ee;
  background-color: #29438c;
  border-color: #82d9ee;
  cursor: pointer;
}

.error {
  width: 60%;
  margin: 10px auto;
  padding: 0;
  border: 2px solid #a94442;
  font-family: sans-serif;
  font-size: 15px;
  color: #a94442;
  background-color: #f2dede;
  border-radius: 20px;
  text-align: center;
}

.succes {
  width: 60%;
  padding: 0;
  margin: 10px auto;
  border: 2px solid #3c763d;
  font-family: sans-serif;
  font-size: 15px;
  color: #3c763d;
  background-color: #dff0d8;
  border-radius: 20px;
  text-align: center;
}

@media only screen and (max-width: 740px) {
  .container {
    width: 100% !important;
    margin: 0 !important;
    border-radius: unset !important;
  }
  .input-box {
    width: 100% !important;
    float: left;
  }
  .field-img {
    width: 100% !important;
    margin: 0 !important;
    background-color: white;
    border-radius: 0 0 40px 40px !important;
  }
  form {
    width: 100% !important;
    grid-template-columns: 100% !important;
    border-radius: 20px 20px 0 0 !important;
    margin: 0 !important;
  }
}
